/**
 * Introduction comment is required
 */



/*
 * Always start a mixin with some description and prefix it with something.
 */
.pw_someClass {
	clear: both;
	display: block;
	color: #f00;
    background: @gp_colorHigh;
}
