
/* First line of document does not start with a document comment */

/* All style properties on one line and in wrong order */
html {
	background: @gp_colorHigh; color :#f00; display:block; clear: both; /* Multiline comment that contains too much content (longer than 120 characters) and starts after Less code.
    */
}

/**
 * Testing large nest depth.
 */
.level1 {
    .level2 { // some comment { { { {
        .level3 { /* some comment`{ { { { */
            .level4 {
                .level5 {     
                    .level6 {
                    }
                }
            }
        }
    }
}



/**
 * Wrong use of colons
 */
.foo {
    width : 20px;
    height :20px;
    overflow:hidden;
}



/**
 * Spaces at the end of the line
 */
.foo {
    width: 20px;	
    height: 20px;  
}